body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first {
    border: 3px solid rgb(207, 139, 13);
    width: 250px;
    background-color: rgb(218, 178, 102);
    text-align: center;
    color: rgb(118, 102, 21);
    margin: 60px auto;
    font-size: 24px;
    padding: 10px;
}

div > span {
    border: 2px solid rgb(207, 139, 13);
    width: 200px;
    background-color: rgb(218, 178, 102);
    text-align: center;
    color: rgb(114, 97, 14);
    display: inline-block;
    text-decoration: underline;
    font-size: 18px;
    padding: 5px;
}

.left {
    float: left;
    clear: right;
    margin: 20px 50px 20px 450px;
}

.right {
    float: right;
    clear: right;
    margin: 20px 450px 20px 50px;
}

